.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: red;

    &__logo {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    &__icons {
        display: flex;
        align-items: center;

        &>.header__cart,
        &>.header__favorite {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &>.header__cart-icon,
            &>.header__favorite-icon {
                font-size: 30px;
                margin-right: 5px;
                color: white;

            }

            &>.header__cart-count,
            &>.header__favorite-count {
                font-size: 14px;
                font-weight: bold;
                color: white;
            }
        }
    }
}