 .modal__wrapper {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.4);
     backdrop-filter: blur(10px);
 }

 $modal-bg-color: rgb(231, 76, 60);
 $modal-text-color: white;

 .modal {
     position: relative;
     width: 700px;
     padding-bottom: 30px;
     background-color: $modal-bg-color;
     margin: 15% auto 30px auto;
     border-radius: 20px;
     box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);



     &__close-button {
         right: 20px;
         top: 20px;
         font-size: 40px;
         position: absolute;
         color: $modal-text-color;
         cursor: pointer;
     }

     &__header {
         background-color: rgba(0, 0, 0, 0.3);
         ;
         color: $modal-text-color;
         font-size: 30px;
         padding: 30px;
         border-radius: inherit;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
     }

     &__text {
         color: $modal-text-color;
         text-align: center;
         font-size: 20px;
         margin: 10px;
         line-height: 50px;
     }

     &__button-container {
         display: flex;
         justify-content: center;
         gap: 20px;
     }
 }